@import url(card-component.css);

/* 카드 레이아웃 */
.card {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--small-spacing);
  align-items: center;
}

.cards {
  display: grid;
  gap: 1.5rem;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(711px, 1fr));
  gap: 1.5rem;
}
